
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myEventLabel">Create or edit a Event</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="event.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_creationDate">CreationDate</label>
            <input id="field_creationDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="event.creationDate" is-open="datePickerForCreationDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForCreationDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_modificationDate">ModificationDate</label>
            <input id="field_modificationDate" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="event.modificationDate" is-open="datePickerForModificationDate.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForModificationDateOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_version">Version</label>
            <input type="number" class="form-control" name="version" id="field_version"
                    ng-model="event.version"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                    ng-model="event.status"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_eventSize">EventSize</label>
            <input type="number" class="form-control" name="eventSize" id="field_eventSize"
                    ng-model="event.eventSize"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="event.type"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="event.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="event.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="event.location"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
